    <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<link rel="stylesheet" href="~/Scripts/libs/waitMe/waitMe.min.css" />
<link rel="stylesheet" href="~/Scripts/libs/waitMe/waitMe.css" />
<script src="~/Scripts/libs/waitMe/waitMe.min.js"></script>


<aside id="left-panel" >

    <!-- User info -->
    @{ Html.RenderPartial("_CurrentUser"); }
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul >

            <li class="@Html.RouteIf("Home", "active")">
                <a href="#" title="Home"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Home</span></a>
                <ul>
                    @if (User.IsInRole("Consulta"))
    {
                <li class="@Html.RouteIf("home", "active")">
                    <a class="analiticamenu" href="@Url.Action("index", "home")" title="Analítica"><span class="menu-item-parent">Analítica</span></a>
                </li>
}
                    @if (User.IsInRole("Administrador"))
                    {
                <li class="@Html.RouteIf("Informes", "active")">
                    <a class="tamisajemenu" href="@Url.Action("Index", "Informes")" title="Tamizajes"><span class="menu-item-parent">Tamizaje</span></a>
                </li>
                    }
                @if (User.IsInRole("Consulta"))
{
                <li class="@Html.RouteIf("Reporte", "active")">
                    <a href="@Url.Action("Index", "Reporte")" title="Dashboard"><span class="menu-item-parent">Reporte</span></a>
                </li>}
                </ul>
            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>

    <script type="text/javascript">
        

        
    </script>

